@if (!string.IsNullOrWhiteSpace(Message))
{
    <div class="alert @alertClass">
        @Message <span style="float:right; cursor:pointer" @onclick="Close_Click">x</span>
    </div>
}


@code {
    [Parameter]
    public string Message { get; set; }
    private AlertMessageType messageType;
    [Parameter]
    public AlertMessageType MessageType
    {
        get => messageType;
        set
        {
            messageType = value;
            switch (messageType)
            {
                case AlertMessageType.Success:
                    alertClass = "alert-success";
                    break;
                case AlertMessageType.Warning:
                    alertClass = "alert-warning";
                    break;
                case AlertMessageType.Error:
                    alertClass = "alert-danger";
                    break;
                case AlertMessageType.Info:
                    alertClass = "alert-info";
                    break;
                default:
                    break;

            }
        }
    }
    public string alertClass { get; set; } = "alert-info";
    void Close_Click()
    {
        Message = string.Empty;
    }
}
